.btn {
  @include btn-reset;
  position: relative;
  padding: 1.5rem 2.9rem;
  text-transform: uppercase;
  text-align: center;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3rem;
  color: $c-dark;
  letter-spacing: -0.04em;

  @media (min-width: $stop-scaling) {
    padding: 15px 29px;
    font-size: 24px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    padding: 1rem;
    font-size: 1.8rem;
    line-height: 2rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 1rem;
    font-size: 1.8rem;
    line-height: 2rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $c-light;
    border: 2px solid $c-light;
    border-radius: 3.5rem;
    z-index: -1;
    will-change: transform, width, background-color, border-color;
    transform: scale(1);
    transition: border-color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
  }

  &:hover {
    color: $c-purple;

    &::before {
      transform: scaleX(1.03) scaleY(1.085);
    }
  }

  &:focus {
    color: $c-purple;
    outline: none;

    &::before {
      border-color: $c-purple;
      transform: scaleX(1.03) scaleY(1.085);
    }
  }

  &:active,
  &:active:focus {
    color: $c-light;

    &::before {
      transform: scale(1);
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}
