.overlay-screen {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $c-dark;
  transform: translateY(100%);
  will-change: transform;
  transition: transform 0.3s ease-in 0.3s;

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }

  &.overlay-screen--visible {
    transform: translateY(0);
    transition-delay: 0s;
  }
}
