.overlay-screen {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $c-dark;
  transform: translateY(100%);
  will-change: transform;

  .screen--prizes.active ~ & {
    animation: backgroundAppear 0.35s ease-in-out both;

    @media (prefers-reduced-motion: reduce) {
      animation: none;
    }
  }
}

@keyframes backgroundAppear {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
