.progress-bar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  font-size: 9em;
  background-color: rgb(76, 49, 121);

  &--loaded {
    z-index: -1;
  }
}
