@mixin social-block-item-active {
  li {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.3s;
  }
}

.social-block {
  position: relative;

  &:hover {
    .social-block__list {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.social-block__toggler {
  @include btn-reset;
  position: relative;
  display: block;
  width: 4rem;
  height: 4rem;
  color: $c-dark;
  border-radius: 50%;
  transition: color 0.3s ease;

  @media (max-width: $tablet) and (orientation: portrait) {
    display: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: none;
  }

  &::before {
    @include center;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $c-light;
    border: 2px solid $c-light;
    z-index: -1;
    transform: translate3d(-50%, -50%, 0) scale(1);
    transform-origin: center;
    transition: border-color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
    will-change: border-color, background-color, transform;

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }

  svg {
    @include center;
    display: block;
    width: 2.3rem;
    height: 2.2rem;
  }

  &:hover {
    color: $c-purple;

    &::before {
      transform: translate3d(-50%, -50%, 0) scale(1.125);
    }
  }

  .social-block--active & {
    color: $c-purple;
  }

  &:focus {
    color: $c-purple;
    outline: none;

    &::before {
      border-color: $c-purple;
    }

    & + .social-block__list {
      opacity: 1;
      pointer-events: auto;

      @include social-block-item-active;
    }
  }

  &:active,
  &:active:focus,
  &.social-block__toggler--active {
    color: $c-light;

    &::before {
      transform: translate3d(-50%, -50%, 0) scale(1);
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.social-block__list {
  @include list-reset;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 1.5rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }

  @media (min-width: $stop-scaling) {
    margin-top: 15px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    opacity: 1;
    pointer-events: auto;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    opacity: 1;
    pointer-events: auto;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 1.5rem;

    @media (min-width: $stop-scaling) {
      height: 15px;
    }
  }

  &:hover,
  &:focus-within,
  .social-block--active & {
    opacity: 1;
    pointer-events: auto;
    transition-duration: 0s;

    @include social-block-item-active;
  }

  li {
    flex: none;
    margin-bottom: 0.5rem;
    opacity: 0;
    transform: translateY(1rem);
    transition: opacity 0.4s ease, transform 0.4s ease;
    will-change: opacity, transform;

    @include delay('transition', 3, 0.06s);

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }

    @media (min-width: $stop-scaling) {
      margin-bottom: 5px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      margin: 0 1.25rem;
      opacity: 1;
      transform: translateY(0);
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin: 0 1.25rem;
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.social-block__link {
  position: relative;
  display: block;
  width: 4rem;
  height: 4rem;
  color: $c-light;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;

  @media (min-width: $stop-scaling) {
    width: 40px;
    height: 40px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    color: $c-light;
    background-color: $c-dark;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    color: $c-light;
    background-color: $c-dark;
  }

  &:hover {
    color: $c-purple;
  }

  &:focus {
    color: $c-purple;
    background-color: $c-light;
    border-color: $c-purple;
    outline: none;
  }

  &:active,
  &:active:focus {
    color: $c-purple;
    background-color: $c-light;
    border-color: $c-light;
  }

  svg {
    @include center;
  }

  &--fb {
    svg {
      width: 0.8rem;
      height: 1.7rem;

      @media (min-width: $stop-scaling) {
        width: 8px;
        height: 17px;
      }
    }
  }

  &--insta {
    svg {
      width: 1.5rem;
      height: 1.5rem;

      @media (min-width: $stop-scaling) {
        width: 15px;
        height: 15px;
      }
    }
  }

  &--vk {
    svg {
      width: 1.7rem;
      height: 1rem;

      @media (min-width: $stop-scaling) {
        width: 10px;
        height: 10px;
      }
    }
  }
}
