@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes text-slide-up {
  from {
    opacity: 0;
    transform: translate3d(0, 1em, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
